#map {
    height: 100%;
}

#col-map {
    padding-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    height: 100vh;
}

#col-panel{
	padding-top: 55px;
	padding-left: 0px;
    padding-right: 0px;
}

#copyright {
    bottom: 0px;
    padding: 3px;
    height: 30px;
    position: fixed;
    width: 100%;
    text-align: center;
}

#lpslogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


#note {
    resize: none;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}
 /*Infestation List */
#infestationModal{
    position: absolute;
    top: 35px;
    right: -930px;
    bottom: 0;
    margin: 0px !important;
}
.card-body {
    font-size: 20px;
}

.infestation {
    overflow-y: scroll;
    max-width: 400px !important;
    max-height: 420px !important;
}

.list-group-item{
    font-size: 13px;
}