#map {
    height: 100%;
}

#col-map {
    padding-top: 55px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
    height: 100vh;
}

#col-panel{
	padding-top: 55px;
	padding-left: 0px;
    padding-right: 0px;
}

#copyright {
    bottom: 0px;
    padding: 3px;
    height: 30px;
    position: fixed;
    width: 100%;
    text-align: center;
}

#lpslogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#note {
    resize: none;
}