
.modal{
    font-family: 'Noto Sans TC', sans-serif;
    float: center;
}

.modal-up{
    background-color:  #bbf585;
}

.modal-down{
    background-color:  #bbf585;
}

.btn-login,.btn-create{
    background-color: #bbf585;
}

.btn-logout{
    background-color: #fb3333;
}

.btn-cancel{
    background-color: #0f94ec;
}

.btn-ok{
    float: center;
}