@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');


.sidebar {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
		height: 545px;
    width: 230px;
    
}
.accordion {
  
  color: #444;
	font-weight: bold;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 12px;
  transition: 0.4s;
  background-color: #ffffff;
}
/* 
.panel {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  font-size: 13px;
  background-color: #bbf585;
} */

#option{
	font-size: 10px;
	width: 100px;
	height: 43px;
  margin-bottom: 5px;
  
}

#panel{
  height:500px;
  padding: 10px;
  background-color: #bbf585;
}


#view{
  font-size: 12px; 
  padding: 5px 25px 10px 25px;
  margin: 20px 0 30px 50px;
  background-color: white;
}